<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.StudentMapper">
    <select id="selectAll" resultType="Student">
        SELECT * FROM stu
    </select>

    <select id="selectById" resultType="Student" parameterType="int">
        SELECT * FROM stu where id = #{id}
    </select>

    <insert id="insert" parameterType="Student">
        insert into stu values (#{id},#{name},#{age})
    </insert>

    <update id="update" parameterType="Student">
        update stu set name = #{name},age = #{age} where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from stu where id = #{id}
    </delete>
</mapper>